Bonjour,

{{ username | upper }} vous à ajoutez dans ces contacts sur le site <a href="http://www.appartoo.com/">appartoo</a> .
Vous pouvez le rejoindre en vous inscrivant <a href="{{ url('fos_user_registration_register') }}">ici</a>

Cordialement,

L'equipe apparto.

Ne pas répondre ce mail